# Ignore everything
*

# Whitelist configuration
!.gitignore
!LICENSE
!README.md
!CMakeLists.txt

# Whitelist code
!*.cpp
!*.hpp
!*.glsl

# Whitelist test paths 
!tests
!tests/**/
# Whitelist code paths
!code
!code/**/
